<%- include('includes/head.ejs') %>
    <link href="/css/product.css" rel="stylesheet">
</head>
<body>
<%- include('includes/navigation.ejs') %>

<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title"><%= pageTitle %>></label>
            <input type="text" name="title" id="title">
        </div>

        <button type="submit">Add Product</button>
    </form>
</main>
<%- include('includes/end.ejs') %>